<div class="table-scroll-wrap">
  <table class="table searchTable">
    <thead>
      <tr>
        <th scope="col">Course ID</th>
        <th scope="col">Course Name</th>
        <th scope="col">Credit Hours</th>
        <th scope="col">Term</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <th scope="row">{{this.course_id}}</th>
          <td>{{this.course_name}}</td>
          <td>{{this.credit_hours}}</td>
          <td>{{this.term}}</td>
          <td>
            <form action="/addStudentClass" method="POST" onsubmit="handleSubmit(event, this)">
              <input type="hidden" name="course_id" value="{{this.course_id}}">
              {{#if this.taken}}
                <button type="submit" class="btn btn-secondary" disabled>Added</button>
              {{else}}
                <button type="submit" class="btn btn-success">Add</button>
              {{/if}}
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
