         <table class="table searchTable">
             <thead>
            <tr>
                <th scope="col">Course ID</th>
                <th scope="col">Course Name</th>
                <th scope="col">Credit Hours</th>
                <th scope="col">Term</th>
                <th scope="col"> Action </th>
              
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{this.course_id}}</th>
                <td>{{this.course_name}}</td>
                <td>{{this.credit_hours}}</td>
                <td>{{this.term}}</td>
                <td>
                    <form action='/addStudentClass' method="POST">
                    <button type = 'submit' class="btn btn-success" onclick="closeSearchBar();">Add</button>
                    <input type="hidden" name="course_id" value="{{this.course_id}}">

                </td>       
                </form>  </tr>
            {{/each}}
        </tbody>
    </table>

    {{#if recommended}}
        <h4 class="mt-4">Recommended Classes</h4>
            <ul class="list-group">
                {{#each recommended}}
                <li class="list-group-item">
                    <strong>{{this.course_id}}</strong> &mdash; {{this.course_name}}
                    ({{this.credit_hours}} credits)
                </li>
                {{/each}}
            </ul>
            {{else}}
        <p class="text-muted mt-4">No recommendations at this time.</p>
    {{/if}}