         <table class="table searchTable">
             <thead>
            <tr>
                <th scope="col">Course ID</th>
                <th scope="col">Course Name</th>
                <th scope="col">Credit Hours</th>
                <th scope="col"> Action </th>
              
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{this.course_id}}</th>
                <td>{{this.course_name}}</td>
                <td>{{this.credit_hours}}</td>
                <td><button type="submit" class="btn btn-success" onclick="addClassFromModal('{{this.course_id}}', '{{this.course_name}}', '{{this.credit_hours}}')">Add</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>